@model AppCondominio.Models.OrcamentoLocador

@{
    ViewData["Title"] = "Orcamento";
}

<h1>Orcamento Locador</h1>

<div>
    <h4>Locador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gastos)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Gastos)
            {
            <a href="/Gastos/Details/@item.Id">@item.Descricao - R$ @item.Valor</a>
                @:</br>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materiais)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Materiais)
            {
                <a href="/Materiais/Details/@item.Id">@item.Nome - R$ @item.ValorUnitario</a>
                @:</br>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contratos)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Contratos)
            {
                <a href="/Contratos/Details/@item.Id">@item.Locatario.Nome - R$ @item.Valor</a>
                @:</br>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGasto)
        </dt>
        <dd class="col-sm-10">
            R$ @Html.DisplayFor(model => model.TotalGasto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGanho)
        </dt>
        <dd class="col-sm-10">
            R$ @Html.DisplayFor(model => model.TotalGanho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            R$ @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
<a asp-action="Index">Back to List</a>
</div>

